<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.my.module.todo.repository.TodoRepository">

    <sql id="fullColumn">
        idx,
        user_idx,
        content,
        done_yn,
        delete_yn,
        create_date,
        update_date,
        delete_date
    </sql>

    <select id="findByDeleteYn" parameterType="java.lang.Character" resultType="com.example.my.module.todo.entity.TodoEntity">
        SELECT <include refid="fullColumn"/>
        FROM TODO
        WHERE delete_yn = #{deleteYn}
    </select>

    <select id="findByUserIdxAndDeleteYn" resultType="com.example.my.module.todo.entity.TodoEntity">
        SELECT <include refid="fullColumn"/>
        FROM TODO
        WHERE user_idx = #{userIdx}
            AND delete_yn = #{deleteYn}
    </select>

    <select id="findByIdx" parameterType="java.lang.Integer" resultType="com.example.my.module.todo.entity.TodoEntity">
        SELECT <include refid="fullColumn"/>
        FROM TODO
        WHERE idx = #{idx}
            AND delete_yn = 'N'
    </select>

    <insert id="insert" parameterType="com.example.my.module.todo.entity.TodoEntity">
        INSERT INTO TODO (
            user_idx,
            content,
            done_yn,
            delete_yn,
            create_date
        )
        VALUES (
            #{userIdx},
            #{content},
            #{doneYn},
            #{deleteYn},
            #{createDate}
        )
    </insert>

    <update id="update" parameterType="com.example.my.module.todo.entity.TodoEntity">
        UPDATE 	TODO
		SET     done_yn = #{doneYn},
                delete_yn = #{deleteYn},
                update_date = #{updateDate},
                delete_date = #{deleteDate}
		WHERE	idx = #{idx}
    </update>

</mapper>